# packages in environment at /home/praveen/anaconda3/envs/butler:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
blas                      1.0                         mkl  
ca-certificates           2020.6.24                     0  
catkin-pkg                0.4.22                   pypi_0    pypi
certifi                   2019.11.28               py27_0  
defusedxml                0.6.0                    pypi_0    pypi
distro                    1.5.0                    pypi_0    pypi
docutils                  0.16                     pypi_0    pypi
intel-openmp              2020.1                      217  
libedit                   3.1.20191231         h7b6447c_0  
libffi                    3.3                  he6710b0_1  
libgcc-ng                 9.1.0                hdf63c60_0  
libgfortran-ng            7.3.0                hdf63c60_0  
libstdcxx-ng              9.1.0                hdf63c60_0  
mkl                       2020.1                      217  
mkl-service               2.3.0            py27he904b0f_0  
mkl_fft                   1.0.15           py27ha843d7b_0  
mkl_random                1.1.0            py27hd6b4f25_0  
ncurses                   6.2                  he6710b0_1  
numpy                     1.16.6           py27hbc911f0_0  
numpy-base                1.16.6           py27hde5b4d6_0  
opencv-contrib-python     4.2.0.32                 pypi_0    pypi
pip                       19.3.1                   py27_0  
portaudio                 19.6.0               h7b6447c_4  
pyaudio                   0.2.11           py27h7b6447c_2  
pyparsing                 2.4.7                    pypi_0    pypi
python                    2.7.18               h15b4118_1  
python-dateutil           2.8.1                    pypi_0    pypi
pyttsx                    1.1                      pypi_0    pypi
pyyaml                    5.2              py27h7b6447c_0  
readline                  8.0                  h7b6447c_0  
rospkg                    1.2.8                    pypi_0    pypi
setuptools                44.0.0                   py27_0  
six                       1.15.0                     py_0  
speechrecognition         3.8.1                    pypi_0    pypi
sqlite                    3.32.3               h62c20be_0  
tk                        8.6.10               hbc83047_0  
wheel                     0.33.6                   py27_0  
yaml                      0.1.7                had09818_2  
zlib                      1.2.11               h7b6447c_3  
